## Task 0

In [1]:
%pip install duckdb pandas

Note: you may need to restart the kernel to use updated packages.

c:\Users\Pathan Imran Khan\Documents\github\SQL-Lab_Afreen_DE_25\.venv\Scripts\python.exe: No module named pip

In [ ]:
# import liabraries
# sqlite3 helps Python open the sqlite file
# duckdb helps to create a duckdb database
# pandas use to load and move the data

import duckdb
import pandas  as pandas
import matplotlib.pyplot as pyplot

### Connect SQLite

In [ ]:
sqlite_con = sqlite3.connect(sqlite_path)
sqlite_con

In [ ]:
import duckdb

with duckdb.connect("databases/sakila.duckdb") as conn:
# conn.sql("""

# CREATE TABLE IF NOT EXISTS bookings (
#     title STRING,
#     rating BOOLEAN,
#     length FLOAT
#     description STRING
# );
# """)

SyntaxError: incomplete input (1774478558.py, line 12)

## Task  1

#### a) Movies longer than 180 min, show the title and its length

In [ ]:
# Query movies longer than 180 minutes
query = """ 
SELECT title, length
FROM film
WHERE length > 180
ORDER BY length DESC;
"""

# -- This SQL selects movies where the length column is above 180 minutes.